@import "normalize.styl"
@import "style.styl"
@import "nib"
@import "nib/vendor"
@import "owl.carousel"
@import "animate"
vendor-prefixes = o ms moz webkit official
azul = #058CDA
rojo = rgba(255, 47, 0, 0.95)
verde = #149152
amarillo = #FFBB00
negro = #2e2f33
blanco= #fff
blanco-tenue= #EDEFED
naranja = #FF3D00
.MenuEscritorio
	display none
.Cabecera
	position: relative;
	width: 100%;
	overflow: hidden;
	/* border-bottom: .2em solid #058cda; */
	z-index: 2;
	background-color: black;
	height: 50px;
	&-logo
		display inline-block
		float left
		margin: .5em .5em 0em .5em;
		&Img
			width 130px
			
	.Menumovil
		display none
	.Menumovil-icono
		display inline-block
		float right
		width 28px
		margin: .5em .5em 0em .5em;
		.Menumovil-grid
			width: 100%;
			height: 6px;
			display: block;
			margin-bottom: 0.2em;
			background-color: azul;
.Menu-s
	text-align center
	border-bottom: 1px solid rgba(0, 0, 0, 0.22);
	.tab
		display inline-block
		padding 4%
		span
			font-size 2em
		p
			margin 0
	.tabactive
		transition: all 300ms ease-in-out;
		border-bottom 3px solid azul	
		font-size: 1.2em;
.Contenido
	.Cont
		text-align center
		.Servicio
			width: 100%;
			/* padding: 1em; */
			box-sizing: border-box;
			position: relative;
			img
				border: 0;
				width: 100%;
				/* height: 100%; */
				/*max-height: 188px;*/
			p
				position: absolute;
				top: 0;
				color: #fff;
				/* z-index: -1; */
				margin-left: 1em;
				font-size: 1.5em;
			.Cilueta
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: rgba(0, 0, 0, 0.29);
								
		
.Escritorio
	display none
			
@media screen and (min-width:766px)

	.escritorio
		display block !important
	
	.Reservar
		position: relative;
		bottom: 40px;
		left: 0;
		right: 0;
		width: 100%;
	.Servicios-pri
		position relative
		z-index 1
	.Habitaciones
		position: relative;
		text-align: center;
		.Habitacion
			max-width: 500px;
			display: inline-block;
			margin-right: 0.5em;
			margin-bottom: 0.5em;
			&:hover
				z-index: 2;
				box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			.Habitacion-img
				width 100%
				min-height: 400px;
	
	.MenuEscritorio
		display inline-block
		position absolute
		right 0
		margin-right 1em
		.MenuEscritorio-nav
			.MenuEscritorio-item
				list-style: none;
				float: left;
				/* margin: 0 19px; */
				padding: 1em 1em;
				background-color: black;
				/* border-right: 1px solid #0086D4; */
				border-left: 1px solid #0086D4;
				.MenuEscritorio-link
					text-decoration none
					color blanco
			.Iactive
				background-color: #0086D3;
				
	.Buscar-movil
		display none
	.Menumovil-icono
		display none !important
	
	.BuscarEscritorio
		position relative
		display block	
		.BuscarEscritorio-form
			text-align: center;
			.huespedes
				position: relative;
				padding: .9em;
				text-align: center;
				padding-right: 3em;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				color #B7B7B7
			.llegada
				position: relative;
				padding: .9em;
				text-align: center;
				/* padding-right: 3em; */
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				margin-top: 0.5em;
			.salida
				position: relative;
				padding: .9em;
				text-align: center;
				/* padding-right: 3em; */
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			.BuscarEscritorio-botonBuscar
				background-color:azul;
				border: 0;
				padding:.9em;
				color: #fff;
				margin-top: 0.5em;