@import "normalize.styl"
@import "style.styl"
@import "nib"
@import "nib/vendor"
vendor-prefixes = o ms moz webkit official
azul = #012839
rojo = #ff4800
verde = #149152
amarillo = #ff4800
negro = #2e2f33
blanco= #fff;

.Cabecera
	position relative
	width 100%
	background blanco
	&-logo
		display inline-block
		&Img
			width 120px
			height 40px
	
	